*{
    text-align: center;
}


body {
    background-color: lightcyan;
}

.board-container {
    box-sizing: content-box;
    display: inline-block;
    margin-top: 10px;   
    position: static
 
}

.cell {
    background-color: lightgray;
    width: 60px;
    height: 60px ;
    
}

.timerDisplay { 
    margin-bottom: 10px;
}

.level {
    background-color: black;
    color: white;
    margin-top: 10px; 
  
}


.player-status {
    font-size: medium;
    color: red;
    margin-top: auto;
    box-sizing: content-box;
    display: inline-block;
}

.restartGame {
    margin-top: 10px;
}



